body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c300ff;
    color: #913535;
    
}

header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 2em 0;
}

.logo {
    max-height: 180px; 
    margin-right: 1em; 
}

header h1 {
    margin-bottom: 0.5em;
}

section {
    padding: 2em;
    background-color: white;
    margin-bottom: 1em;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #007bff;
    margin-bottom: 1em;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section li {
    margin-bottom: 0.5em;
}

.imagenes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
}

.imagenes-grid img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1em;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 0.8em;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

.redes-sociales-links a {
    margin-right: 1em;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}